# Twitch / IGDB API Credentials
TWITCH_CLIENT_ID=your-twitch-client-id-here
TWITCH_CLIENT_SECRET=your-twitch-client-secret-here
GRANT_TYPE=client_credentials


# IsThereAnyDeal API Credentials
ITAD_API_KEY=your_real_key_here
ITAD_CLIENT_ID=your_real_id_here

# OpenAI API Key
OPENAI_API_KEY=your-openai-api-keu

# Django Settings
DJANGO_SECRET_KEY=your-django-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost
NEXT_PUBLIC_URL=http://localhost:8000

# Database Settings (for local dev)
DATABASE_URL=sqlite:///db.sqlite3
